extends template/main-layout.pug

block all-content
  .l-errorContent
    .errorContent-titleComplete
      h1.errorContent-title ОЙ! #[br] ВЫ НЕ ХОТИТЕ БЫТЬ ЗДЕСЬ
      p.errorContent-description Похоже, пришло время, чтобы прекратить миссию и перейти на #[a(href="index.html") Главную].
