extends template/article-layout.pug

block prepend body
  - var breadcrumbsPrev = {'Статьи': '#'}
  - var breadcrumbsCurrent = 'Статья автора'

block prepend content
  - var fullLayout = true
  - var tagsList = ['Наука','Техника','Революционные изобретения','Google']
  - var links = "authors-article.html"

block visual-content
  img(src="img/article-visual-4.png")

block prepend article-title
  - var articleTitle = "Google Glass превратили в тренажер кода Морзе"

block article-text
  p.text-sub
    | Инженеры из Технологического института Джорджии разработали методику пассивного освоения кода Морзе с помощью тактильных сигналов гарнитуры Google Glass. Обучение, которое длится около четырех часов, происходит в игровой форме.
  p.text-p
    | Техники тактильного обучения широко распространены в учреждениях для людей с ограниченными возможностями здоровья. Так, слабовидящие и слепые дети могут использовать их для освоения формы и структуры моделей реальных объектов. Ранее ученые обнаружили, что обучение через осязание также может применяться для развития сложных моторных навыков. При этом пассивное осязание бывает продуктивнее, чем активное.
  blockquote.article-quote
    | В новой работе ученые из Джорджии разработали методику, которая позволяет обучиться коду Морзе с помощью вибросигналов.
  p.text-p
    img.article-float-left(src="img/article-img-4.png")
    | В новой работе ученые из Джорджии разработали методику, которая позволяет обучиться коду Морзе с помощью вибросигналов. В качестве транслятора они использовали очки Google Glass. В систему воспроизведения звука в кость подавались низкочастотные (ниже 15 герц) сигналы, которые воспринимались испытуемыми как вибрации. В зависимости от продолжительности последние соответствовали единицам информации — точке или тире
  p.text-p
    | Во время обучения участники из экспериментальной группы получали вибросигналы (они также удерживали палец руки на гарнитуре) в сочетании с голосовой подсказкой. Участники контрольной группы осваивали «морзянку» с помощью традиционного воспроизведения звука Google Glass, без вибросигналов. На протяжении эксперимента все они были сосредоточены на игре, не связанной с кодом.
  ul.article-inner-list
    li: span Почему я люблю работать с Web
    li: span Как производство мебели повлиял
    li: span Автоматизированное тестирование API и Monitorin
    li: span Qpsa Quae AB ​​Illo inventore
  p.text-p
    | Спустя четыре часа авторы провели тестирование обеих групп. Результаты показали, что испытуемые, которые пассивно изучали код на основе вибрации, могут с 94-процентной точностью использовать его для построения предложений и с 98-процентной — воспроизводить отдельные буквы. Участники контрольной группы были способны точно воспроизвести около половины сигналов.
