extends template/article-wide-layout.pug

block prepend body
  - var breadcrumbsPrev = {'Книги': 'books.html'}
  - var breadcrumbsCurrent = '12 книг для дизайнеров'
  
block prepend content
  - var visualContentImg = "img/article-visual-10.png"
  - var categoryClass = "category-books"
  - var categoryName = 'Книги'
  - var articleTitle = '12 книг, которые стоит прочитать каждому дизайнеру'
  - var tagsList = ['Xiaomi', 'Xiaomi Mi Band 2', 'Гаджеты', 'Фитнес-трекер']
  
block article-text
  .article-content-text
    p.text-sub
      | Эти книги рекомендуют к прочтению профессора из четырех ведущих мировых школ дизайна, они обещают, что после них каждый сможет ощутить себя настоящим дизайнером и проникнуться этой чудесной профессией.
    p.text-p
      | И даже с языками, использующими латинский алфавит, могут возникнуть небольшие проблемы: в различных языках те или иные буквы встречаются с разной частотой, имеется разница в длине #[a(href="#") наиболее распространенных слов]. Отсюда напрашивается вывод, что все же лучше использовать в качестве «рыбы» текст на том языке, который планируется использовать при запуске проекта. Сегодня существует #[b несколько вариантов], кроме того, есть специальные генераторы, создающие собственные.
      
    .section-title-inner.book
      h2.title-0 Savannah college of art and design (1-5)

  .booksSlider-wrap
    .booksSlider-counters
      span.current
      span.number
    .booksSlider-items.owl-carousel
      .articlesList-item-book-img
        img(src='img/book-4.png')
      .articlesList-item-book-img
        img(src='img/book-6.png')
      .articlesList-item-book-img
        img(src='img/book-14.png')
      .articlesList-item-book-img
        img(src='img/book-10.png')
      .articlesList-item-book-img
        img(src='img/book-15.png')
      
  .booksDescriptions.owl-carousel
    .booksDescriptions-item
      h3.title-3.list-counter Восходящая спираль
      p.text-p
        | Рабочая книга для улучшения мозгового штурма. Книга, с которой все и началось. Она обучает тому, что креативный человек от некреативного отличается только тем, что считает себя креативным. Эта книга заставляет поверить в собственные силы, в то, что каждый может придумывать классные идеи, и в то, что творческие способности можно развить. С этой книги может начаться интерес к теме устройства творческого процесса.
      blockquote.article-quote
        p Чудесная книга. Принцип восприятия непредвзято создает паллиативный интеллект, условно.
        p.article-quote-author
          | #[span.author-name Владимир Смирнов,] креативный директор в диджитал- агентстве Aimbulance. Преподаватель Киевской Академии Медиа Искусcтв (KAMA).
      
    .booksDescriptions-item
      h3.title-3.list-counter Как написать книгу за 30 дней
      p.text-p
        | Рабочая книга для улучшения мозгового штурма. Книга, с которой все и началось. Она обучает тому, что креативный человек от некреативного отличается только тем, что считает себя креативным. Эта книга заставляет поверить в собственные силы, в то, что каждый может придумывать классные идеи, и в то, что творческие способности можно развить. С этой книги может начаться интерес к теме устройства творческого процесса.
      
    .booksDescriptions-item
      h3.title-3.list-counter Метод Сильвы. Искусство управления
      p.text-p
        | Рабочая книга для улучшения мозгового штурма. Книга, с которой все и началось. Она обучает тому, что креативный человек от некреативного отличается только тем, что считает себя креативным. Эта книга заставляет поверить в собственные силы, в то, что каждый может придумывать классные идеи, и в то, что творческие способности можно развить. С этой книги может начаться интерес к теме устройства творческого процесса.
      p.text-p
        | Это решение задачи, креатив не может быть на пустом месте. В рекламе креатив должен продавать, доносить сообщение бренда или помогать выделиться. У него всегда есть конкретная задача и цель.
      
    .booksDescriptions-item
      h3.title-3.list-counter Наука - как свеча во тьме
      p.text-p
        | Рабочая книга для улучшения мозгового штурма. Книга, с которой все и началось. Она обучает тому, что креативный человек от некреативного отличается только тем, что считает себя креативным. Эта книга заставляет поверить в собственные силы, в то, что каждый может придумывать классные идеи, и в то, что творческие способности можно развить. С этой книги может начаться интерес к теме устройства творческого процесса.
      
    .booksDescriptions-item
      h3.title-3.list-counter Искусство креативного мышления
      p.text-p
        | Рабочая книга для улучшения мозгового штурма. Книга, с которой все и началось. Она обучает тому, что креативный человек от некреативного отличается только тем, что считает себя креативным. Эта книга заставляет поверить в собственные силы, в то, что каждый может придумывать классные идеи, и в то, что творческие способности можно развить. С этой книги может начаться интерес к теме устройства творческого процесса.
      p.text-p
        | Да. В то, что делаем, мы верим, иначе нам тяжело было бы работать, обманывая себя и клиента. Иногда заблуждаемся, иногда ошибаемся, но всегда верим. Часто, когда понимаем, что не можем помочь новому клиенту, ‒ отказываемся, рекомендуем друзей-конкурентов. Но если начинаем работу, тогда верим, что можем помочь, верим в свои решения, ну и несём за них ответственность, конечно.

  .article-content-text
    h3.title-3.list-counter Design Basics (S. Pentak and A. Lauer)
  figure.article-float-left
    img(src="img/article-img-17.png")
  .article-content-text
    p.text-p
      | Неоднократно переиздававшийся классический учебник по основам дизайна, один из самых популярных в мире. Теория дизайна, масса практических примеров и вся необходимая информация для начинающих дизайнеров и профессионалов, желающих совершенствовать свое мастерство.
    p.text-p
      | Учебник, который научит вас основам 2-D графического дизайна. Она обучает тому, что креативный человек от некреативного отличается только тем, что считает себя креативным. Эта книга заставляет поверить в собственные силы, в то, что каждый может придумывать классные идеи, и в то, что творческие способности можно развить. С этой книги может начаться интерес к теме устройства творческого процесса.
    p.text-p
      | И даже с языками, использующими латинский алфавит, могут возникнуть небольшие проблемы: в различных языках те или иные буквы встречаются с разной частотой, имеется разница в длине наиболее распространенных слов. Отсюда напрашивается вывод, что все же лучше использовать в качестве «рыбы» текст на том языке, который планируется использовать при запуске проекта. Сегодня существует несколько вариантов, кроме того, есть специальные генераторы, создающие собственные. Учебник, который научит вас основам 2-D графического дизайна. Она обучает тому, что креативный человек от некреативного отличается только тем, что считает себя креативным. 

    //- .section-title-inner.book
    //-   h2.title-0 Parsons school of design (7-10)
      
  //- .booksSlider-wrap
  //-   .booksSlider-counters
  //-     span.current
  //-     span.number
  //-   .booksSlider-items.owl-carousel
  //-     .articlesList-item-book-img
  //-       img(src='img/book-4.png')
  //-     .articlesList-item-book-img
  //-       img(src='img/book-6.png')
  //-     .articlesList-item-book-img
  //-       img(src='img/book-14.png')
  //-     .articlesList-item-book-img
  //-       img(src='img/book-10.png')
  //-     .articlesList-item-book-img
  //-       img(src='img/book-15.png')
  //-     
  //- .booksDescriptions.owl-carousel
  //-   .booksDescriptions-item
  //-     h3.title-3.list-counter Восходящая спираль
  //-     p.text-p
  //-       | Рабочая книга для улучшения мозгового штурма. Книга, с которой все и началось. Она обучает тому, что креативный человек от некреативного отличается только тем, что считает себя креативным. Эта книга заставляет поверить в собственные силы, в то, что каждый может придумывать классные идеи, и в то, что творческие способности можно развить. С этой книги может начаться интерес к теме устройства творческого процесса.
  //-     blockquote.article-quote
  //-       p Чудесная книга. Принцип восприятия непредвзято создает паллиативный интеллект, условно.
  //-       p.article-quote-author
  //-         | #[span.author-name Владимир Смирнов,] креативный директор в диджитал- агентстве Aimbulance. Преподаватель Киевской Академии Медиа Искусcтв (KAMA).
  //-     
  //-   .booksDescriptions-item
  //-     h3.title-3.list-counter Как написать книгу за 30 дней
  //-     p.text-p
  //-       | Рабочая книга для улучшения мозгового штурма. Книга, с которой все и началось. Она обучает тому, что креативный человек от некреативного отличается только тем, что считает себя креативным. Эта книга заставляет поверить в собственные силы, в то, что каждый может придумывать классные идеи, и в то, что творческие способности можно развить. С этой книги может начаться интерес к теме устройства творческого процесса.
  //-     
  //-   .booksDescriptions-item
  //-     h3.title-3.list-counter Метод Сильвы. Искусство управления
  //-     p.text-p
  //-       | Рабочая книга для улучшения мозгового штурма. Книга, с которой все и началось. Она обучает тому, что креативный человек от некреативного отличается только тем, что считает себя креативным. Эта книга заставляет поверить в собственные силы, в то, что каждый может придумывать классные идеи, и в то, что творческие способности можно развить. С этой книги может начаться интерес к теме устройства творческого процесса.
  //-     p.text-p
  //-       | Это решение задачи, креатив не может быть на пустом месте. В рекламе креатив должен продавать, доносить сообщение бренда или помогать выделиться. У него всегда есть конкретная задача и цель.
  //-     
  //-   .booksDescriptions-item
  //-     h3.title-3.list-counter Наука - как свеча во тьме
  //-     p.text-p
  //-       | Рабочая книга для улучшения мозгового штурма. Книга, с которой все и началось. Она обучает тому, что креативный человек от некреативного отличается только тем, что считает себя креативным. Эта книга заставляет поверить в собственные силы, в то, что каждый может придумывать классные идеи, и в то, что творческие способности можно развить. С этой книги может начаться интерес к теме устройства творческого процесса.
  //-     
  //-   .booksDescriptions-item
  //-     h3.title-3.list-counter Искусство креативного мышления
  //-     p.text-p
  //-       | Рабочая книга для улучшения мозгового штурма. Книга, с которой все и началось. Она обучает тому, что креативный человек от некреативного отличается только тем, что считает себя креативным. Эта книга заставляет поверить в собственные силы, в то, что каждый может придумывать классные идеи, и в то, что творческие способности можно развить. С этой книги может начаться интерес к теме устройства творческого процесса.
  //-     p.text-p
  //-       | Да. В то, что делаем, мы верим, иначе нам тяжело было бы работать, обманывая себя и клиента. Иногда заблуждаемся, иногда ошибаемся, но всегда верим. Часто, когда понимаем, что не можем помочь новому клиенту, ‒ отказываемся, рекомендуем друзей-конкурентов. Но если начинаем работу, тогда верим, что можем помочь, верим в свои решения, ну и несём за них ответственность, конечно.
