extends template/base-layout.pug

block prepend body
  - var bodyClass = 'article-page book-article-page'
  - var breadcrumbsPrev = {'Книги': 'books.html'}
  - var breadcrumbsCurrent = 'Описание книги'

block content
  .mainWrap.mainWrap-medium.row
    article.l-article.column.large-8.small-12
      section.article-content-text
        figure.article-float-left
          img(src="img/article-visual-7.png")
        h1.title-0 Вилки вместо ножей на практике
        p.text-sub О книге
        p.text-p
          | Пошаговый план по культовому фильму «Вилки вместо ножей» для перехода на здоровое питание за 28 дней.
        p.text-p
          | Фильм «Вилки вместо ножей» ознаменовал революцию в питании и медицине. Доктора и исследователи выяснили, что многие современные болезни могут быть предотвращены — и излечены — за счет изменения рациона и отказа от мяса, молока, переработанной пищи, и включению в рацион растительной еды.
        p.text-p
          | Эта книга — первое практическое пособие в серии «Вилки вместо ножей», пошаговый план для перехода на полезную (и вкусную) диету. Преимущества этого плана в том, что:
        ul.article-inner-list
          li: span Он простой и понятный;
          li: span Он опробован на практике авторами — докторами медицины;
          li: span Он расписан по неделям;
          li: span Вам не придется беспокоиться по поводу нехватки кальция или белка в рационе
        p.text-p
          | За первую неделю вы начнете с завтрака и научитесь правильно запасаться продуктами, чтобы поддерживать ваш новый образ жизни.
        p.text-p
          | На второй неделе вы приступите к обеду и узнаете об основах планирования рациона.
        p.text-p
          | Третья неделя будет посвящена ужину и борьбе с пищевыми соблазнами.
        p.text-p
          | За четвертую неделю вы узнаете все трюки и нюансы, которые помогут сохранить позитивные изменения в рационе на всю жизнь, даже если вам придется иногда есть и перекусывать на бегу.
        p.text-p
          | В книге есть 100 простых и вкусных рецептов, фотографии и советы от таких же людей, как вы, которые помогут вам совершить переход к новому здоровому питанию.
        p.article-section-subtitle
          | Из предисловия Дина Орниша
        p.text-p
          | Доктора Алона Пульде и Мэтью Ледерман — выдающиеся пионеры, вожди, целители, демонстрирующие будущее медицины. Они представляют новое поколение врачей, которые при работе с пациентами сочетают самое мощное лечение — хорошее растительное питание — с лучшими общепринятыми медицинскими методиками.
        p.text-p
          | Эта практика помогла тысячам пациентов. В этой книге они помогут и многим другим понять, что ключом к оздоровлению организма служит пища, которую они принимают. В книге красноречиво рассказывается о том, что наши организмы продемонстрируют замечательные способности к исцелению, если сосредоточиться на устранении причин заболеваний, а не пытаться бороться лишь с их симптомами.

      include template/share-social.pug

      include template/comments.pug

    include template/books-sidebar.pug
