extends template/article-wide-layout.pug

block prepend body
  - var breadcrumbsPrev = {'Интервью': 'interview.html'}
  - var breadcrumbsCurrent = 'Статья интервью'
  
block prepend content
  - var visualContentImg = "img/article-visual-8.png"
  - var categoryClass = "category-interview"
  - var categoryName = 'Интервью'
  - var articleTitle = 'Владимир Смирнов, креативный директор диджитал-агентства Aimbulance'
  - var tagsList = ['Интервью', 'Личности', 'Креативный директор', 'Владимир Смирнов']
  
block article-text
  .article-content-text
    blockquote.article-quote
      figure.article-quote-photo
        img(src="img/interview-author-0.png")
      p У меня есть приоритеты на день, неделю, месяц, и общие цели на год. И пока я приоритеты не сделаю, заставляю себя не прикасаться к другим задачам. А следить за приоритетами мне помогают мои партнеры, потому что меня часто «размазывает» по проектам.
      p.article-quote-author
        | #[span.author-name Владимир Смирнов,] креативный директор в диджитал- агентстве Aimbulance. Преподаватель Киевской Академии Медиа Искусcтв (KAMA).

    p.text-p
      | И даже с языками, использующими латинский алфавит, могут возникнуть небольшие проблемы: в различных языках те или иные буквы встречаются с разной частотой, имеется разница в длине #[a(href="#") наиболее распространенных слов]. Отсюда напрашивается вывод, что все же лучше использовать в качестве «рыбы» текст на том языке, который планируется использовать при запуске проекта. Сегодня существует #[b несколько вариантов], кроме того, есть специальные генераторы, создающие собственные.
      
    h2.title-0 Общие вопрсы
    
    p.interview-question Что такое креатив для вас?
    p.text-p
      | Это решение задачи, креатив не может быть на пустом месте. В рекламе креатив должен продавать, доносить сообщение бренда или помогать выделиться. У него всегда есть конкретная задача и цель.
    p.interview-question То есть, отталкиваемся от практики и только тогда получаем результат. Нужна конкретная задача?
    p.text-p
      | Конечно. Трудно штормить, когда нет брифа, когда говорят: «Придумайте что хотите, но чтобы было круто». Всегда нужны рамки и условия задачи. И чем чётче определены условия, тем легче.

  .article-gallary
    .article-gallary-labels
      .article-gallary-social
        button.social-button.fb
          i.icon-fb
        button.social-button.tw
          i.icon-twitter
        button.social-button.vk
          i.icon-vk
        button.social-button.gp
          i.icon-google-plus
    .article-gallary-slider.owl-carousel
      - i = 15
      while i < 23
        figure.article-gallary-photo
          img(src="img/article-gallary-slider-" + i++ + ".png")
    .article-gallary-previews-wrap
      .article-gallary-previews.owl-carousel
        - j = 15
        while j < 23
          if j == 1
            figure.article-gallary-previews-one.is-current
              img(src="img/article-gallary-preview-" + j++ + ".png")
          else
            figure.article-gallary-previews-one
              img(src="img/article-gallary-preview-" + j++ + ".png")

  .article-content-text
    blockquote.article-quote
      | Есть отличия в каких-то процедурах, согласованиях, но это не важно. Всегда работаешь не с компанией или корпорацией, а с конкретными людьми...
    p.text-p
      | И даже с языками, использующими латинский алфавит, могут возникнуть небольшие проблемы: в различных языках те или иные буквы встречаются с разной частотой, имеется разница в длине наиболее распространенных слов.
    p.interview-question
      | У вас в портфолио замечательные бренды, с которыми вы работаете. Вы можете рассказать об особенностях работы с корпорациями, большими компаниями. В чем отличие средних клиентов от крупных? 
    p.text-p
      | Есть отличия в каких-то процедурах, согласованиях, но это не важно. Всегда работаешь не с компанией или корпорацией, а с конкретными людьми, а тут важно быть на одной волне, доверять друг другу и хотеть решать одни и те же задачи. И это справедливо  для мелких, и средних, и крупных компаний.
  figure.article-float-left
    img(src="img/article-img-9.png")
  .article-content-text
    p.interview-question
      | Вы всегда чувствуете, что вы до конца честны, когда вы общаетесь с клиентом? Верите в то, что вы делаете
    p.text-p
      | Да. В то, что делаем, мы верим, иначе нам тяжело было бы работать, обманывая себя и клиента. Иногда заблуждаемся, иногда ошибаемся, но всегда верим. Часто, когда понимаем, что не можем помочь новому клиенту, ‒ отказываемся, рекомендуем друзей-конкурентов. Но если начинаем работу, тогда верим, что можем помочь, верим в свои решения, ну и несём за них ответственность, конечно.
    p.interview-question
      | Вы участвуете в интересном образовательном проекте КАМА – расскажите об этом?
    p.text-p
      | Социальная ответственность бизнеса, IMHO, заключается в его успешности ‒ создавать рабочие места, платить налоги, получать прибыль. Благотворительные проекты – это хорошо, но только если можешь себе это позволить. Мы пока не можем. Можем работать «в ноль», т.е. когда оплачивают наши услуги, и мы ничего не зарабатываем. Например, так было с разработкой фирменного стиля для Ивано-Франковска. Что касается #[span.bold КАМА, KMBS] и других образовательных проектов, в которых мы участвуем, то благотворительными их считать трудно. Мы развиваем рынок, воспитываем специалистов, некоторые из них придут работать к нам, другие ‒ к конкурентам, кто-то станет работать на стороне клиента, но рынок и мы от этого только выиграем. И вообще ‒ мне просто нравится это делать.
    p.text-p
      | Почему я веду #[span.bold курс UX-дизайна в КАМА]? Я в диджитале с 2006 года, поучаствовал в создании около 140 проектов. Работал программистом, дизайнером, арт-директором, UX-директором, и, наконец, креативным директором. За это время в агентстве мы выстроили UX-процесс, набили много шишек, проектировали и запускали сайты, приложения, сервисы. А если короче ‒ мне есть чем поделиться.

  figure.artice-img-wide
    .article-gallary-social
      button.social-button.fb
        i.icon-fb
      button.social-button.tw
        i.icon-twitter
      button.social-button.vk
        i.icon-vk
      button.social-button.gp
        i.icon-google-plus
    img(src="img/article-img-10.png")
    figcaption Владимир Смирнов, креативный директор в диджитал- агентстве Aimbulance.

  .article-content-text
    h2.title-0 О работе
    p.interview-question Как много вы работаете?
    p.text-p
      | Смотря что считать работой. Мне нравится моё дело, поэтому получается, что это не совсем и работа. В офисе обычно #[span.bold с 9.00‒9.30 до 19.00‒20.00]. Так пять дней в неделю + ещё три-четыре часа на выходных. Раньше, лет 67 назад, мы вообще жили на работе, дома я только ночевал, да и то не всегда. Сейчас комфортный режим. С возрастом понимаешь, что для эффективной работы важен режим, распорядок: ложиться спать до 12.00, делать зарядку, не пропускать обеды, тренироваться как минимум 3 раза в неделю и другие скучные вещи Только скучный распорядок позволяет тебе быть всегда работоспособным.
  figure.article-float-right
    img(src="img/article-img-11.png")
  .article-content-text
    p.interview-question Что тогда для вас является инструментами дисциплины?
    p.text-p
      | Приоритеты. У меня есть приоритеты на день, неделю, месяц, и общие цели на год. И пока я приоритеты не сделаю, заставляю себя не прикасаться к другим задачам. А следить за приоритетами мне помогают мои партнеры, потому что меня часто «размазывает» по проектам.
    p.interview-question Вы участвуете в интересном образовательном проекте КАМА – расскажите об этом
    p.text-p
      | Социальная ответственность бизнеса, IMHO, заключается в его успешности ‒ создавать рабочие места, платить налоги, получать прибыль. Благотворительные проекты – это хорошо, но только если можешь себе это позволить. Мы пока не можем. Можем работать «в ноль», т.е. когда оплачивают наши услуги, и мы ничего не зарабатываем. Например, так было с разработкой фирменного стиля для Ивано-Франковска.
    p.text-p
      | Что касается КАМА, KMBS и других образовательных проектов, в которых мы участвуем, то благотворительными их считать трудно. Мы развиваем рынок, воспитываем специалистов, некоторые из них придут работать к нам, другие ‒ к конкурентам, кто-то станет работать на стороне клиента, но рынок и мы от этого только выиграем. И вообще ‒ мне просто нравится это делать.
    p.text-p
      | Почему я веду #[span.bold курс UX-дизайна в КАМА]? Я в диджитале с 2006 года, поучаствовал в создании около 140 проектов. Работал программистом, дизайнером, арт-директором, UX-директором, и, наконец, креативным директором. За это время в агентстве мы выстроили UX-процесс, набили много шишек, проектировали и запускали сайты, приложения, сервисы. А если короче ‒ мне есть чем поделиться.

    blockquote.article-quote
      | Дизайн плохой, если он не решает поставленной задачи. 
    p.interview-question Тогда вопрос по вашей основной компетенции: Можете назвать 3 вещи, без которых дизайн плохой? 
    p.text-p
      | Дизайн плохой, если он не решает поставленной задачи. Хороший дизайн учитывает бизнес-задачи, нужды и цели пользователя, ограничения платформы, тренды. Как сделать хороший дизайн? Непросто!
    p.text-p
      | Тяжело оценивать чужие проекты, когда не знаешь #[span.bold «внутренней кухни»] ‒ задач, целевой, ресурсов. Не зная всего этого, легко ошибиться, хотя если задача ‒ покрасоваться на фоне конкурентов… Но это странная задача.
      
  figure.artice-img-wide
    .article-gallary-social
      button.social-button.fb
        i.icon-fb
      button.social-button.tw
        i.icon-twitter
      button.social-button.vk
        i.icon-vk
      button.social-button.gp
        i.icon-google-plus
    img(src="img/article-img-12.png")
