extends template/base-layout.pug

block prepend body
  - var breadcrumbsCurrent = 'Размещение рекламы'

block content
  .mainWrap.mainWrap-medium.row
    article.l-info.column.small-12.large-10
      h1.title-0 Партнерам
      section.info-section
        h2.title-3 — Как много дизайнеров действительно понимают значение UX и обладают необходимыми навыками?
        p.text-p
          | Д. С. Когда графические редакторы и в целом технологии стали доступнее, множество дизайнеров начали свою карьеру с визуальной части. Поэтому сейчас мы видим переизбыток неосмысленных визуальных решений. #[br]Б. П. Многие теоретически знают, слышали о UX. Но применяет эти принципы ничтожно малое количество людей. Из очевидного: у наших дизайнеров очень мало связи с конечными пользователями их продукта. Они не работают с непосредственной аудиторией, зато решают прилетающие сверху задачи. #[br]Д. С. Визуальная часть видима, поэтому она больше фиксируется в сознании. На самом деле если вы проследите свои действия, то заметите, что все ваши предпочтения связаны с какими-то особенностями, сценариями. Если в дизайне это учтено, никаких проблем не будет.
      section.info-section
        h2.title-3 — К какому багажу проблем для дизайнера и бизнеса это приводит?
        p.text-p
          | Д. С. Приводит к тому, что продукт никудышный. А плохой цифровой продукт — это то же, что и плохой магазин на улице. Там воняет, грязно и продавцы неприветливые. В него ходить не будут.
        p.text-p
          | Проблема компании — это длительный, путанный и неконтролируемый процесс.
        p.text-p
          | Еще важный момент: ориентация на пользователя. Либо дизайнер изобретает что-либо неинтересное для личного использования, но необходимое другим, либо создает для себя, попутно вовлекая остальных людей. В любом случае, без конечного потребителя процесс дизайна бессмысленный.
        p.text-p
          | Понимаете, дизайн — это решение задач, которые возникают в жизни человека. Даже если это афиша, задача не "красиво нарисовать", а привлечь внимание, побудить прийти на событие, создать нужное впечатление. Если эти задачи не ставятся изначально, ничего не будет решено. В лучшем случае, дизайнер найдет решение интуитивно, если уже делал подобное сто раз в течение тысячи часов.
        blockquote.info-quote
          | Каждый имеет достаточно сил, чтобы достойно прожить жизнь. А все эти разговоры о том, какое сейчас трудное время, - это хитроумный способ оправдать свое бездействие, лень и разные унылости. Работать надо, а там, глядишь, и времена изменятся
      section.info-section
        h2.title-3  — Что произойдет, если люди не будут этому учиться? Кто умрет, кто закроет свою компанию?
        p.text-p
          | Б. П. Не так давно на Medium читал статью о том, как плохой UX убил маленькую девочку. Интерфейс медицинской программы был так плохо проработан, что опытные медсестры просто не обнаружили важную деталь лечения. Спросили, кто умрет, вот и ответ. Но это о крайностях. #[br]У дизайна много функций. В первую очередь, это коммуникация. Дизайнер решает проблему ожиданий клиентов. На самой ранней стадии он должен дать понять, каким будет продукт и как им могут пользоваться в будущем. #[a(href="#") Ссылки А если неверно формировать требования и цели] #[br]Дизайнеры сильно влияют на то, каким будет продукт в конечном счете. И эту ответственность нужно понимать с самого начала. А если неверно формировать требования и цели, ставится под угрозу весь процесс создания продукта. #[br]Приведу пример, который, к счастью, становится все менее актуальным, но все же: в аутсорсинговую компанию приходит клиент и говорит, какой хочет продукт. Его [продукт] делают шесть месяцев, вкладывают кучу денег. А на выходе получается не то, за чем клиент приходил. Затем он говорит "Это не то, что я просил" и все посылают друг друга на четыре стороны.
        p.text-p: a(href="#") Ссылки А если неверно формировать требования и цели
        p.text-p
          | Д. С. Или альтернативная концовка: клиент получает от аутсорсинговой компании именно то, что просил. А в итоге этот продукт никому не нужен. #[a(href="#") Ссылка]
