extends template/article-layout.pug

block prepend body
  - var breadcrumbsPrev = {'Рубрики': 'rubric.html'}
  - var breadcrumbsCurrent = 'Статья в рубрике подробно'

block prepend content
  - var rubricArticle = true
  - var middleLayout = true
  - var tagsList = ['Наука','Техника','Революционные изобретения','Jon Noorlander']

block visual-content
  img(src="img/article-visual-5.png")

block prepend article-title
  - var articleTitle = "Органические цифровые Скульптуры Jon Noorlander"

block article-text
  p.text-sub
    | Le graphiste др realisateur suedois Джон Noorlander IMAGINE ипе serie де скульптуры numeriques abstraites, realisees a Partir де Logiciels де modelisation 3D Гудини и др Nuke. КЕС FORMES Organiques, Libres ET evanescentes flottent Dans ле Airs ан differentes направления вариации ET. Elles semblent себе dissoudre, еп подвеской, Comme де-ла-Poudre.
  p.text-p
    | И даже с языками, использующими латинский алфавит, могут возникнуть небольшие проблемы: в различных языках те или иные буквы встречаются с разной частотой, имеется разница в длине наиболее распространенных слов. Отсюда напрашивается вывод, что все же лучше использовать в качестве «рыбы» текст на том языке, который планируется использовать при запуске проекта. Сегодня существует несколько вариантов, кроме того, есть специальные генераторы, создающие собственные.
  blockquote.article-quote
    | В новой работе ученые из Джорджии разработали методику, которая позволяет обучиться коду Морзе с помощью вибросигналов.
  p.text-p
    img.article-float-left(src="img/article-img-5.png")
    | икакого отношения к обитателям водоемов. Трактата о пределах добра и проектах, ориентированных на кириллице. Проблемы: в книгопечатании еще в xvi веке. #[b Существует несколько вариантов] lorem напрашивается вывод, что такое текст-рыба. Или иные буквы встречаются с разной частотой, имеется разница в длине наиболее. При запуске проекта средневековый книгопечатник. Ориентированных на кириллице значительно различается абзацев, отступов и смысловую. Как цель применения такого текста сыграет на латыни.
  p.text-p
    | Такое текст-рыба слова, получив текст-рыбу, широко используемый. Наиболее распространенных слов трактата о пределах добра и слова получив. По сей день зла средневековый книгопечатник вырвал отдельные фразы и. #[a(href="#") Используемый и смысловую] нагрузку ему нести совсем необязательно используемый и. Благодаря чему появляется возможность получить более того, нечитабельность текста сыграет. Считается, что такое текст-рыба добра и зла средневековый книгопечатник вырвал.
  ul.article-inner-list
    li: span Почему я люблю работать с Web
    li: span Как производство мебели повлиял
    li: span Автоматизированное тестирование API и Monitorin
    li: span Qpsa Quae AB ​​Illo inventore
  p.text-p
    | Демонстрационная, то и на латыни и слова, получив текст-рыбу. Лучше использовать при запуске проекта. Написание символов на том языке, который планируется использовать #[b при запуске проекта]. Наиболее распространенных слов языке, который планируется. На название, не имеет никакого отношения к обитателям. Все же лучше использовать при оценке качества. Нечитабельность текста исключительно демонстрационная, то и на интернет-страницы и смысловую нагрузку. Впервые его применили в длине наиболее распространенных слов использовать.
  //- .article-img-list
  //-   figure
  //-     img(src="img/article-img-6.png")
  //-   figure
  //-     img(src="img/article-img-7.png")
  //-   figure
  //-     img(src="img/article-img-8.png")
  .article-gallary
    .article-gallary-labels
      .article-gallary-counters
        span.current
        span.number
      .article-gallary-social
        button.social-button.fb
          i.icon-fb
        button.social-button.tw
          i.icon-twitter
        button.social-button.vk
          i.icon-vk
        button.social-button.gp
          i.icon-google-plus
    .article-gallary-slider.owl-carousel
      - i = 7
      while i < 15
        figure.article-gallary-photo(data-mfp-src="img/article-gallary-photo-" + i + ".png")
          img(src="img/article-gallary-slider-" + i++ + ".png")
    .article-gallary-previews-wrap
      .article-gallary-previews.owl-carousel
        - j = 7
        while j < 15
          if j == 1
            figure.article-gallary-previews-one.is-current
              img(src="img/article-gallary-preview-" + j++ + ".png")
          else
            figure.article-gallary-previews-one
              img(src="img/article-gallary-preview-" + j++ + ".png")
