extends template/base-layout.pug

block prepend body
  - var bodyClass = 'special-article-page'
  - var breadcrumbsPrev = {'Спецпроект': 'special.html'}
  - var breadcrumbsCurrent = 'Спецпроект подробно'

block content
  .mainWrap.mainWrap-medium.row
    article.l-article.column.small-12
      figure.article-visualContent
        img(src="img/article-visual-1.png")

      .article-content-text
        h1.title-0 Распространенных слов проектах, ориентированных на кириллице значительно различается рыбным текстом является знаменитый.
        p.text-p
          | Появлением lorem ipsum на кириллический. Вида контента, просмотра шрифтов, абзацев, отступов. Даже с разной частотой, имеется разница в книгопечатании. Является знаменитый lorem – написание символов на том языке. В различных языках те или иные. Абзацев, отступов и проектах, ориентированных на сайтах и смысловую нагрузку. Есть специальные генераторы, создающие собственные варианты текста. Несколько вариантов lorem латыни и даже с разной частотой имеется.
        p.text-p
          | И даже с языками, использующими латинский алфавит, могут возникнуть небольшие проблемы: в различных языках те или иные буквы встречаются с разной частотой, имеется разница в длине наиболее распространенных слов. Отсюда напрашивается вывод, что все же лучше использовать в качестве «рыбы» текст на том языке, который планируется использовать при запуске проекта. Сегодня существует несколько вариантов Lorem ipsum, кроме того, есть специальные генераторы, создающие собственные варианты текста на основе оригинального трактата, благодаря чему появляется возможность получить более длинный неповторяющийся набор слов.
      figure.article-visualContent
        img(src="img/article-img-1.png")
      .article-content-text
        h3.title-3 Распространенных слов проектах, ориентированных
        p.text-p
          | Нечитабельность текста исключительно демонстрационная, то и демонстрации внешнего вида. Впервые его применили в различных языках те или иные буквы. Или иные буквы встречаются с использованием. Вырвал отдельные фразы и смысловую. Существует несколько вариантов lorem ipsum обязан древнеримскому философу цицерону, ведь именно. – написание символов на основе оригинального трактата, благодаря чему. Могут возникнуть небольшие проблемы: в различных языках те или иные буквы встречаются.
      include template/share-social.pug
      include template/comments.pug
