extends template/base-layout.pug

block prepend body
  - var breadcrumbsCurrent = 'Пользовательское соглашение'

block content
  .mainWrap.mainWrap-medium.row
    article.l-info.column.small-12.large-10
      h1.title-0 Правила пользования сайтом Science of everything
      p.text-sub Пожалуйста, внимательно изучите все нижеперечисленные правила. Их соблюдение позволит избежать конфликтов с посетителями, модераторами и администрацией, сделав чтение и общение более продуктивным.
      section.info-section
        h2.title-3.info-title-numeric Общие положения и рекомендации
        ol.text-p.info-list-numeric
          li
            | Посетив научно-популярный портал Science of everything, Вы можете прочесть статьи, публикуемые в журнале Science of everything, а также ознакомиться с новостями, посвященными науке и технике, с тематическими видео- и фотоматериалами, обсудить их в комментариях.
          li
            | За порядком на портале следят модераторы. Они могут переносить, удалять некорректные комментарии, а также редактировать их. Кроме того, модераторы имеют право применять различные санкции к пользователям сайта: выносить предупреждения, блокировать (банить) учетную запись пользователя на определенное время или навсегда.
          li
            | Авторы комментариев отражают в них свое мнение, которое может не совпадать с мнением автора статьи и администрации сайта. В случае, если #[a(href="#") Вы заметили сообщение или комментарий], противоречащий законодательству РФ, содержащий коммерческую тайну или способный негативно отразиться на репутации физического или юридического лица, можете сообщить об этом, написав на почту info@nScience_of_everything.ru. Модераторы обязательно ознакомятся с Вашим письмом и примут соответствующие меры.
          li
            | Оставляя комментарии, старайтесь придерживаться культуры общения, сложившейся на портале. Помните, что нужно быть вежливым и доброжелательным к другим посетителям сайта. В том случае, если Вы заметили нарушение настоящих Правил со стороны других пользователей или провокацию, способную вызвать нарушение, сообщите об этом в письме по адресу info@naked-science.ru. Разрешение конфликтных ситуаций, возникающих на сайте, ? забота администрации портала.

      section.info-section
        h2.title-3.info-title-numeric Язык портала
        ol.text-p.info-list-numeric
          li
            | Официальным языком ресурса является русский.
          li
            | Все публикуемые на сайте сообщения должны быть написаны на кириллице. Использование латиницы допускается только в ряде исключительных случаев. Для того чтобы перевести текст, написанный на транслите, в нормальный вид, Вы можете использовать специальные сервисы (гугл переводчик и другие).
          li
            | Преднамеренное нарушение норм и правил русского языка запрещено.
          li
            | На сайте запрещается злоупотреблять #[b ЗАГЛАВНЫМИ БУКВАМИ, ЧеРеДоВаТь] заглавные и прописные буквы, использовать более трех знаков препинания подряд #[b (!!!!)], заменять русские буквы #[b п()хо>I<ими симв0JIами] и применять другие способы сделать сообщение заметным, но неудобным для восприятия.
        blockquote.info-quote
          | Каждый имеет достаточно сил, чтобы достойно прожить жизнь. А все эти разговоры о том, какое сейчас трудное время, - это хитроумный способ оправдать свое бездействие, лень и разные унылости. Работать надо, а там, глядишь, и времена изменятся

      section.info-section
        h2.title-3.info-title-numeric Правила написания и публикации комментариев
        ol.text-p.info-list-numeric
          li
            | При написании комментариев избегайте флуда, старайтесь обходится без лирических отступлений и длинных философских рассуждений. Помните, что цель комментария – выразить свою мысль так, чтобы она была понятна всем участвующим в дискуссии.
          li
            | Не стоит злоупотреблять цитатами. Чтобы процитировать оппонента, достаточно выделить главную фразу и нажать кнопку «комментировать» ? как правило, цитировать сообщение в полном объеме нет необходимости.
          li
            | В комментариях можно размещать видео- и фотоматериалы.
          li
            | Злоупотребление жаргонными выражениями как средствами выражения эмоциональности сказывается на восприятии информации крайне отрицательно. Избегайте этого.
          li
            | Старайтесь избегать употребления узкоспециализированных терминов. Если без них в сообщении не обойтись, пожалуйста, кратко поясняйте их или давайте ссылку на ресурс, где можно получить разъяснение (например, на статью в Википедии).
          li
            | В комментариях и сообщениях категорически запрещается:
            ul.info-list-marker
              li: span
                | призывать к экстремизму и терроризму;
              li: span
                | призывать к разжиганию межнациональных конфликтов;
              li: span
                | допускать оскорбления, хамство или грубость в явной или скрытой форме;
              li: span
                | оставлять сообщения, которые не несут никакой смысловой нагрузки (такие, как, например, «ерунда!», «здорово!», «ни о чем!» и тому подобные). Вместо комментариев типа «согласен» или #[b «+1»] стоит использовать тайное голосование (кнопки #[b «+» и «-»] в углу комментария»);
              li: span
                | использовать нецензурную лексику в явной или скрытой форме. Скрывать бранные слова за спецсимволами и многоточиями также запрещается;
              li: span
                | оставлять комментарии, которые не относятся к обсуждаемому материалу (оффтоп). При этом небольшое отклонение от темы допускается;
              li: span
                | публиковать чересчур политизированные сообщения;
              li: span
                | обсуждать личные качества участвующих в дискуссии;
              li: span
                | обсуждать теологические вопросы и проводить религиозную пропаганду;
              li: span
                | давать ссылки на лженаучные ресурсы и обсуждать материалы в рамках эзотерики и псевдонауки;
              li: span
                | обсуждать конспирологические теории;
              li: span
                | провоцировать конфликт или отвечать на провокацию. В том случае, если Вы считаете, что нарушаются Правила форума или Ваши права, сообщите модератору. Принимать меры к нарушителям – исключительно его задача;
              li: span
                | допускать неконструктивную критику, а также любые оскорбления в адрес авторов материалов, модераторов и администрации портала;
              li: span
                | обсуждать действия модератора. В случае несогласия с модератором, вы можете обратиться к администрации сайта, написав на почту info@nScience_of_everything.ru. Если жалоба будет признана обоснованной, действия модератора будут отменены, а к нему применят меры дисциплинарного характера.
        blockquote.info-quote
          | Самый страшный грех – это скучать! ... Вот придет Страшный суд, Господь Бог призовет и спросит: «Почему не пользовался всеми благами жизни? Почему скучал?»

      section.info-section
        h2.title-3.info-title-numeric Система наказаний
        ol.text-p.info-list-numeric
          li
            | За нарушение настоящих Правил ресурса модератор может назначить наказание.
          li
            | На ресурсе предусмотрено несколько видов наказаний:
            ul.info-list-marker
              li: span
                | #[a(href="#") предупреждение];
              li: span
                | бан на определенный срок;
              li: span
                | постоянный бан.
            ol.info-list-numeric-second
              li
                | Однократное нарушение правил влечет за собой предупреждение. Количество нарушений, после которых аккаунт забанят, зависит от частоты и серьезности этих нарушений.
              li
                | Блокировка учетной записи следует в результате намеренного и серьезного нарушения Правил ресурса, а также после систематического повторения мелких нарушений.
          li
            | В тех случаях, когда возникшая ситуация не регламентируется ни одним пунктом Правил, модератор принимает решение по своему усмотрению, не противоречащее правилам сайта.
          li
            | Отказываясь соглашаться с назначенным наказанием, каждый может написать представителю Администрации сайта по адресу #[a(href="#") info@Science_of_everything.ru].
          li
            | Решение по спорным вопросам, принятое администратором ресурса, является окончательным. Обжаловать его нельзя.
