extends template/article-layout.pug

block prepend body
  - var breadcrumbsPrev = {'Видео': 'video.html'}
  - var breadcrumbsCurrent = 'Видео подробно'

block prepend content
  - var videoArticle = true
  - var fullLayout = true
  - var tagsList = ['Наука','Картины','Искусство','Великие художники']
  - var links = "video-article.html"

block visual-content
  iframe(width="560" height="315" src="https://www.youtube.com/embed/EJOSc_qolCg" frameborder="0" allowfullscreen)

block prepend article-title
  - var articleTitle = "Апофения: увидеть незримое и поверить в заговор"

block article-text
  p.text-sub
    | Вспомните, давно ли в очертаниях какого-либо предмета вам виделся знакомый образ? Вот, например, из теней деревьев может запросто сложится страшный силуэт, а дверная ручка – и вовсе два глаза да нос. В общем, весьма зловещее лицо получается. И это вовсе не патология, а обычное явление нашего сознания, именуемое эффектом миража.
  p.text-p
    | Немецкий психиатр и невропатолог Клаус Конрад ввёл термин «апофения» в 1958 году. Изначально, это понятие описывало острую форму шизофрении. Страдающий ей человек видит связи и общие знаменатели между абсолютно противоположными событиями. Главное отличие от эпифании в том, что означает переживания по поводу мировой взаимосвязанности, апофения — ложное осознание. Психолог из Швейцарии Питер Брюггер упомянул этот термин на английском языке в сборнике, который называется «книга о призраках и полтергейстах».
  p.text-p
    | Все предыдущие исследования позволили ему предполагать, что апофения является результатом существующей неполноценности человеческого познания, «распространяющаяся тенденция находить порядок в случайных формах», выявлять связи совершенно неоправданно, «заблуждение, принятое за откровение». В общении с журналистами профессор не предавал излюбленную формулировку: «Апофения — это тенденция подчиняться совпадениям, полным смысла».
  p.text-p
    | Именно это явление объясняет всё то «паранормальное» или «чудесное», что люди якобы видят. На данный момент основная научная версия гласит, что явление связано со способностью мозга собирать, а потом проецировать накопленную информацию на окружающую среду. Именно благодаря апофении, на Марсе мы увидели человеческое лицо, а в шотландском озере Лох-несское чудовище.
  figure
    img(src="img/article-img-2.png")
    figcaption
      | Фотография «Крик», сделанная в 1893 году Эдвард Мунк»
  p.text-p
    | Условно апофению можно разделить на два подвида - на ошибку первого и второго родов. Первый род обозначает ошибочную фактологическую модель: вера человека во что-то нереальное (НЛО, призраки и прочее). Ошибка второго рода заключается в соотнесении подлинных связей со случайными процессами.
  p.text-p
    | В теории, ошибки первого рода могут стать ключевым спасительным звеном в экстремальных жизненных ситуациях. Человек, принимающий каждый шорох растительности за движение хищника, имеет в разы больше шансов выжить, чем наивный юнец, списывающий все звуки на обыкновенные проявления природы – ветер, дождь и прочее. Различные доктрины утверждают, что путанная сенсорная активность в отношении осмысления и смыслов трансформировала человеческий мозг в «аппарат верований» и «машину по распознаванию образов».
