ul.articlesList-events
  each img in eventsImg
    li
      a.articlesList-events-img(href="event-article.html"): img(src=img)
      .articlesList-events-content
        - var hideTime = true
        include date.pug
        a.title-4(href="event-article.html") Основы продуктовой аналитики для дизайнера
  li.show-for-medium-only
    a.articlesList-events-img(href="event-article.html"): img(src="img/events-img-7.png")
    .articlesList-events-content
      - var hideTime = false
      include date.pug
      a.title-4(href="event-article.html") Алгоритмическое программирование на практике

a.button-light-outline-big(href="events.html")= lastButton
