ul.articlesList.row
  - var bgSrc = "img/articles-list-item-bg-1.png"
  - var category = {class: 'category-technology', text: 'ТЕХНОЛОГИИ'}
  - var title = "Илон Маск представил новые разработки"
  include articlesItem-banner.pug

  - var imgSrc = "img/articles-list-item-img-1.png"
  - var category = {class: 'category-text-technology', text: 'ТЕХНОЛОГИИ'}
  - var title = 'Google Glass превратили в тренажер кода Морзе'
  include articlesItem-text.pug

  - var imgSrc = "img/articles-list-item-img-2.png"
  - var category = {class: 'category-text-astro', text: 'АСТРОФИЗИКА'}
  - var title = '«Стартест» от NASA'
  include articlesItem-text.pug

  - var bgSrc = "img/articles-list-item-bg-2.png"
  - var category = {class: 'category-psycho', text: 'Психология'}
  - var title = 'Апофения: увидеть незримое и поверить в заговор'
  include articlesItem-banner.pug

  - var bgSrc = "img/articles-list-item-bg-3.png"
  - var category = {class: 'category-medtech', text: 'Медтех'}
  include articlesItem-banner.pug

  - var imgSrc = "img/articles-list-item-img-3.png"
  - var category = {class: 'category-text-technology', text: 'ТЕХНОЛОГИИ'}
  - var title = 'Google Glass превратили в тренажер кода Морзе'
  include articlesItem-text.pug
