ul.articlesList.articlesList-detail.articlesList-techno.row
  - var detailItem = true
  - var otherClasses = 'large-4'
  - var link = 'rubric-article.html'
  - var bigItem = true
  - var imgSrc = 'img/articles-list-item-img-12.png'
  - var title = 'Концептуальная High Standard Watch'
  include articlesItem-text.pug

  - var innerBanner = true
  - var bgSrc = 'img/articles-list-item-bg-8.png'
  - var title = 'Органические цифровые Скульптуры Jon Noorlander'
  include articlesItem-banner.pug

  - var imgSrc = 'img/articles-list-item-img-13.png'
  - var title = 'На солнечных батареях Концепция Труба опресняет соленой воды в чистую питьевую воду'
  include articlesItem-text.pug

  - var otherClasses = 'large-4 show-for-medium'
  - var imgSrc = 'img/articles-list-item-img-14.png'
  - var title = 'Футуристический Лотос C-01 мотоциклов продано на аукционе'
  include articlesItem-text.pug

  - var otherClasses = 'large-4 show-for-large'
  - var imgSrc = 'img/articles-list-item-img-15.png'
  - var title = 'Фантастические световые установки по шкале Collectif'
  include articlesItem-text.pug

  - var imgSrc = 'img/articles-list-item-img-16.png'
  - var title = 'Brand New BMW Concept Titan Мотоциклетн'
  include articlesItem-text.pug
