extends base-layout.pug

block prepend body
  - var bodyClass = 'article-page'

block content
  .mainWrap.mainWrap-medium.row
    article.l-article.column.small-12
      section.articleWide-visualContent
        figure.articleWide-visualContent-img
          img(src=visualContentImg)
        .articleWide-visualContent-text
          .category.category-m(class=categoryClass)= categoryName
          .article-visualContent-title
            h1.title-0.white= articleTitle
          .counters
            .counters-item
              i.icon-time
              span 23.11.2016
            .counters-item
              i.icon-comment
              span 4
            .counters-item
              i.icon-view
              span 124
            .counters-item
              i.icon-pencil
              span Оксана Рыбина

      section.articleWide-content
        block article-text
            
      section.articleWide-social
        include share-social.pug
        
        .tags
          p.text-sub Теги:
          .tags-list
            each tag in tagsList
              button.tags-one= tag
              
        include article-subscribe.pug
        include comments.pug
        
    section.articleWide-footer
      .articleSpecial.columns.small-12
        img(src="img/special-banner-3.png")
          
      include siblings-article.pug
      include other-articles.pug
