section.article-subscribe
  .section-title
    h2.title-4
      img(src="img/icon-plane.svg")
      | Подписаться на рассылку
  .article-subscribe-form
    input(type="text" placeholder="Ваш Email")
    button.button.button-primary(type="submit") Подписаться
