ul.articlesList-compact.row
  - var articleImg = "img/articles-list-item-img-35.png"
  - var articleTitle = "Uber вернет таксистам миллионы долларов за допущенную ошибку"
  - var compactClasses = false
  include articlesItem-compact-dark.pug
  
  - var bgSrc = "img/articles-list-item-bg-21.png"
  - var articleTitle = "С 15 июня многие пользователи Apple не смогут зайти в iCloud"
  - var bannerClasses = "order-medium--1"
  include articlesItem-halfWidth.pug
  
  - var articleImg = "img/articles-list-item-img-36.png"
  - var articleTitle = "Microsoft создаcn облачное ДНК-хранилище "
  include articlesItem-compact-dark.pug
  
  - var articleImg = "img/articles-list-item-img-37.png"
  - var articleTitle = "Синхронизация файлов между Windows 10 и Android"
  include articlesItem-compact-dark.pug
  
  - var bgSrc = "img/articles-list-item-bg-22.png"
  - var articleTitle = "Apple официально анонсировала конференцию WWDC 2017"
  - var bannerClasses = "hide-for-medium-only"
  include articlesItem-halfWidth.pug
  
  - var articleImg = "img/articles-list-item-img-38.png"
  - var articleTitle = "HTC Vive избавится от проводов"
  - var compactClasses = "hide-for-medium-only"
  include articlesItem-compact-dark.pug
