ul.articlesList-compact.articlesList-psycho.row
  - var bannerClasses = false
  - var compactClasses = false
  - var bgSrc = "img/articles-list-item-bg-6.png"
  - var articleTitle = "Американцы показали уникальное складное крыло"
  include articlesItem-halfWidth.pug

  - var articleClasses = false
  - var titleClasses = 'white'
  - var articleImg = "img/articles-list-item-img-8.png"
  - var articleTitle = "Антропоморфизм связали с «тревожным» бегством от близости"
  include articlesItem-compact.pug

  - var articleImg = "img/articles-list-item-img-9.png"
  - var articleTitle = "Ученые объяснили, почему человек испытывает дежавю"
  include articlesItem-compact.pug

  - var articleImg = "img/articles-list-item-img-10.png"
  - var articleTitle = "Компетентность футбольных рефери связали с ориентацией внимания"
  include articlesItem-compact.pug

  - var compactClasses = "hide-for-medium-only"
  - var articleImg = "img/articles-list-item-img-11.png"
  - var articleTitle = "Поверхностную оценку сексуальности связали с одобрением насилия"
  include articlesItem-compact.pug

  - var bannerClasses = "hide-for-medium-only"
  - var bgSrc = "img/articles-list-item-bg-7.png"
  - var articleTitle = "Американцы показали уникальное складное крыло"
  include articlesItem-halfWidth.pug
