ul.articlesList-books.row

  - var bookImg = "img/book-1.png"
  - var bookTitle = "Под давлением"
  - var bookDesctiption = "Как добиваться результатов в условиях жестких дедлайнов и неопределенности"
  include articlesItem-book.pug

  - var bookImg = "img/book-2.png"
  - var bookTitle = "Вилки вместо ножей на практике"
  - var bookDesctiption = "4-недельный пошаговый план перехода на здоровое питание"
  include articlesItem-book.pug

  - var bookImg = "img/book-3.png"
  - var bookTitle = "Восходящая спираль"
  - var bookDesctiption = "Как нейрофизиология помогает справиться с негативом и депрессией — шаг за шагом"
  include articlesItem-book.pug
