ul.articlesList-compact.row
  - var bgSrc = "img/articles-list-item-bg-4.png"
  - var articleTitle = "Астрофизика мироздания. Цепочки шаров"
  include articlesItem-halfWidth.pug

  - var bgSrc = "img/articles-list-item-bg-5.png"
  - var articleTitle = "Американцы показали уникальное складное крыло"
  - var bannerClasses = "hide-for-medium-only hide-for-small-only"
  include articlesItem-halfWidth.pug

  - var articleImg = "img/articles-list-item-img-4.png"
  - var articleTitle = "Анизотропию реликтового излучения распечатали на 3D-принтере Анизотропию реликтового излучения распечатали на 3D-принтере"
  include articlesItem-compact-dark.pug

  - var articleImg = "img/articles-list-item-img-5.png"
  - var articleTitle = "Глобальное потепление превратит Испанию и Португалию в пустыню Глобальное потепление превратит Испанию и Португалию в пустыню"
  include articlesItem-compact-dark.pug

  - var articleImg = "img/articles-list-item-img-6.png"
  - var articleTitle = "Комплекс молекулярных облаков Ореол Цефея скрывает в себе туманность Призрак"
  include articlesItem-compact-dark.pug

  - var compactClasses = "hide-for-medium-only hide-for-small-only"
  - var articleImg = "img/articles-list-item-img-7.png"
  - var articleTitle = "Главное за неделю: о флирте и насилии, замедлении старения и «звезде инопланетян»"
  include articlesItem-compact-dark.pug
