.l-footerSubscibe
  h2.footerSubscribe-title Подписаться на рассылку
  form.footerSubscribe-form
    input(type="email" name="email" placeholder="Ваш Email")
    button(type="submit")
      i.icon-angle-right

footer.l-footer
  a.footer-logo(href="index.html")
    img(src="img/colored-logo.png")
  ul.footer-links
    li: a.header-link(href="about.html"): span О проекте
    li: a.header-link(href="partners.html"): span Партнерам
    li: a.header-link(href="advertising.html"): span Реклама
    li: a.header-link(href="contacts.html"): span Контакты
  ul.footer-social
    li: a(href="#"): i.icon-fb
    li: a(href="#"): i.icon-twitter
    li: a(href="#"): i.icon-vk
    li: a(href="#"): i.icon-google-plus
  .footer-copyright
    p.nowrap © 2016, Science of everything. #[wbr]Все права защищены.
    p Сделано в #[a(href="http://dizz.in.ua/ru") Dizz Agency]

  button.up-button
    i.icon-angle-up
