.l-footerSubscibe
  h2.footerSubscribe-title Подписаться на рассылку
  form.footerSubscribe-form
    input(type="email" name="email" placeholder="Ваш Email")
    button(type="submit")
      i.icon-angle-right

footer.l-footer
  a.footer-logo(href="index.html")
    img(src="img/colored-logo.png")
  ul.footer-links
    li: a.header-link(href="rubric.html"): span Астрофизика
    li: a.header-link(href="rubric.html"): span Технологии
    li: a.header-link(href="rubric.html"): span Медиа
    li: a.header-link(href="rubric.html"): span Психология
    li: a.header-link(href="books.html"): span Книги
    li: a.header-link(href="rubric.html"): span Медтех
    li: a.header-link(href="rubric.html"): span Будущее
    li: a.header-link(href="photo.html"): span Фото дня
    li: a.header-link(href="video.html"): span Видео
    li: a.header-link(href="interview.html"): span Интервью
  ul.footer-links
    li: a.header-link(href="about.html"): span О нас
    li: a.header-link(href="advertising.html"): span Реклама на сайте
    li: a.header-link(href="contacts.html"): span Связаться с нами
    li: a.header-link(href="partners.html"): span Конфиденциальность
  ul.footer-social
    li: a(href="#"): i.icon-fb
    li: a(href="#"): i.icon-twitter
    li: a(href="#"): i.icon-vk
    li: a(href="#"): i.icon-google-plus
  .footer-mistake
    img(src="img/icon-keyboard.svg")
    | #[b Ctrl + Enter] - если нашли ошибку
  .footer-copyright
    p.nowrap.bold © 2016, Science of everything. #[wbr]Все права защищены.
    p Полное или частичное копирование материалов без согласия с редакцией запрещено
    p Сделано в #[a(href="http://dizz.in.ua/ru") Dizz Agency]

  button.up-button
    i.icon-angle-up
