doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="format-detection" content="telephone=no")
    meta(http-equiv="x-rim-auto-match" content="none")
    title Наука всего
    link(rel="shortcut icon" href="img/favicon.png" type="image/png")
    link(rel="stylesheet" href="css/libs.min.css")
    link(rel="stylesheet" href="css/main.css")
    script(src="js/libs.min.js")
    script(src="js/script.js")
  block body
    body(class=bodyClass)

      block all-content
