.shareSocial
  button.shareSocial-bookmark
    i.icon-bookmark
    span Довавить в закладку
  button.shareSocial-social.fb
    i.icon-fb
    span 35
  button.shareSocial-social.tw
    i.icon-twitter
    span 35
  button.shareSocial-social.vk
    i.icon-vk
    span 18
  button.shareSocial-social.gp
    i.icon-google-plus
    span 25
  button.shareSocial-more
    i.icon-plus
  .shareSocial-counters
    i.icon-view
    span 124
