section.l-siblingsArticle.column.small-12.row
  a.column.medium-6.small-12(href=links)
    .siblingsArticle-one.prev
      img.siblingsArticle-one-bg(src="img/siblings-article-1.png")
      if !videoArticle
        p.siblingsArticle-one-move Предыдущая статья
      else
        p.siblingsArticle-one-move Предыдущее видео
      p.title-4.white Google Glass превратили в тренажер кода Морзе

  a.column.medium-6.small-12(href=links)
    .siblingsArticle-one.next
      img.siblingsArticle-one-bg(src="img/siblings-article-2.png")
      if !videoArticle
        p.siblingsArticle-one-move Следующая статья
      else
        p.siblingsArticle-one-move Предыдущее видео
      p.title-4.white Американцы показали уникальное складное крыло
