aside.sidebar-wrap.columns.large-4
  .section-title.section-title-popular
    h2.title-2
      img(src="img/icon-newspaper.png")
      | ПОПУЛЯРНЫЕ СТАТЬИ

  ul.sidebar-list
    li
      a.sidebar-list-img(href="rubric-article.html"): img(src="img/sidebar-img-1.png")
      .sidebar-item-content
        p.category-text.category-text-sm.category-text-technology ТЕХНОЛОГИИ
        a.title-sm(href="rubric-article.html") «Легкие-на-чипе» научили курению в затяг
        include counters.pug
    li
      a.sidebar-list-img(href="rubric-article.html"): img(src="img/sidebar-img-2.png")
      .sidebar-item-content
        p.category-text.category-text-sm.category-text-astro АСТРОФИЗИКА
        a.title-sm(href="rubric-article.html") Идентифицированы области мозга, связанны...
        include counters.pug

    li
      a.sidebar-list-img(href="rubric-article.html"): img(src="img/sidebar-img-3.png")
      .sidebar-item-content
        p.category-text.category-text-sm.category-text-psycho ПСИХОЛОГИЯ
        a.title-sm(href="rubric-article.html") Идентифицированы области мозга, связанны...
        include counters.pug

    li
      a.sidebar-list-img(href="rubric-article.html"): img(src="img/sidebar-img-4.png")
      .sidebar-item-content
        p.category-text.category-text-sm.category-text-medtech МедТех
        a.title-sm(href="rubric-article.html") Идентифицированы области мозга, связанны...
        include counters.pug

    li
      a.sidebar-list-img(href="rubric-article.html"): img(src="img/sidebar-img-5.png")
      .sidebar-item-content
        p.category-text.category-text-sm.category-text-future БУДУЩЕЕ
        a.title-sm(href="rubric-article.html") Идентифицированы области мозга, связанны...
        include counters.pug

  .sidebar-advertising
    img(src="img/special-banner-2.png")
