@import "variables";

@font-face {
  font-family: 'icomoon';
  src:
    url('#{$icomoon-font-path}/icomoon.ttf?ont3l9') format('truetype'),
    url('#{$icomoon-font-path}/icomoon.woff?ont3l9') format('woff'),
    url('#{$icomoon-font-path}/icomoon.svg?ont3l9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-long {
  &:before {
    content: $icon-arrow-long;
  }
}
.icon-sort {
  &:before {
    content: $icon-sort;
  }
}
.icon-close3 {
  &:before {
    content: $icon-close3;
  }
}
.icon-time {
  &:before {
    content: $icon-time;
  }
}
.icon-date {
  &:before {
    content: $icon-date;
  }
}
.icon-user {
  &:before {
    content: $icon-user;
  }
}
.icon-comment {
  &:before {
    content: $icon-comment;
  }
}
.icon-close {
  &:before {
    content: $icon-close;
  }
}
.icon-menu {
  &:before {
    content: $icon-menu;
  }
}
.icon-plus {
  &:before {
    content: $icon-plus;
  }
}
.icon-search {
  &:before {
    content: $icon-search;
  }
}
.icon-mail {
  &:before {
    content: $icon-mail;
  }
}
.icon-squares {
  &:before {
    content: $icon-squares;
  }
}
.icon-check {
  &:before {
    content: $icon-check;
  }
}
.icon-close2 {
  &:before {
    content: $icon-close2;
  }
}
.icon-settings {
  &:before {
    content: $icon-settings;
  }
}
.icon-bookmark {
  &:before {
    content: $icon-bookmark;
  }
}
.icon-image {
  &:before {
    content: $icon-image;
  }
}
.icon-pencil {
  &:before {
    content: $icon-pencil;
  }
}
.icon-play {
  &:before {
    content: $icon-play;
  }
}
.icon-view {
  &:before {
    content: $icon-view;
  }
}
.icon-key {
  &:before {
    content: $icon-key;
  }
}
.icon-bookmark-o {
  &:before {
    content: $icon-bookmark-o;
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter;
  }
}
.icon-fb {
  &:before {
    content: $icon-fb;
  }
}
.icon-arrow-circle-left {
  &:before {
    content: $icon-arrow-circle-left;
  }
}
.icon-arrow-circle-right {
  &:before {
    content: $icon-arrow-circle-right;
  }
}
.icon-google-plus {
  &:before {
    content: $icon-google-plus;
  }
}
.icon-caret-down {
  &:before {
    content: $icon-caret-down;
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin;
  }
}
.icon-angle-left {
  &:before {
    content: $icon-angle-left;
  }
}
.icon-angle-right {
  &:before {
    content: $icon-angle-right;
  }
}
.icon-angle-up {
  &:before {
    content: $icon-angle-up;
  }
}
.icon-angle-down {
  &:before {
    content: $icon-angle-down;
  }
}
.icon-reply {
  &:before {
    content: $icon-reply;
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram;
  }
}
.icon-skype {
  &:before {
    content: $icon-skype;
  }
}
.icon-vk {
  &:before {
    content: $icon-vk;
  }
}

